<!DOCTYPE html>
<html>
<head>
	<title>Password Strength Test</title>
</head>
<body>
    <h1>Password Strength</h1>
    <p>Your password would take approximately {{ time_to_crack }} to crack.</p>
    <p>Password strength: {{ password_strength.score }}/4</p>
    {% if suggestions %}
        <p>Suggestions:</p>
        <ul>
            {% for suggestion in suggestions %}
                <li>{{ suggestion }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No suggestions!</p>
    {% endif %}
    <a href="/">Back to Home</a>
</body>
</html>
